.card-category .card-title {
    font-size: $font-size-lg;
}

.card-category .card-category-icon {
    font-size: 3em;
    color: $primary;
}

.card-category .card-category-icon.primary {
    color: $primary;
}

.card-category .card-category-icon.success {
    color: $success;
}

.card-category .card-category-icon.warning {
    color: $warning;
}

.card-category .card-category-icon.danger {
    color: $danger;
}